:root {
  --columns: 7; /* number of columns */
  --item-size: 150px; /* base size, scales uniformly */
  --library-item-wrapper-width-aspect-ratio: 3;
  --library-item-wrapper-height-aspect-ratio: 4;
  --library-item-pop-over-stat-description-font-color: #b4b4b4;
}



.lib-search-filtering {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}

.lib-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.library-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-grouping {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.lib-search-container > button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.filter-grouping > button {
  display:flex;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.search-container {
  position: relative;
  width: 250px; /* Adjust width as needed */
}

.search-input {
  width: 100%;
  padding: 8px 8px 8px 36px; /* Left padding for the icon */
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%); 
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.icon {
  width: 16px;
}

.library-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(var(--columns), minmax(var(--item-size), 1fr));
}

.library-item-wrapper {
  display: block;
  position: relative;
  border-radius: 6px;
  aspect-ratio: var(--library-item-wrapper-width-aspect-ratio) / var(--library-item-wrapper-height-aspect-ratio);

  /* needed or the slide in will escape the boundaries */
  overflow: hidden;
}

.library-item-wrapper .library-item-pop-over-wrapper {

  /* needed to make it behave properly */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 6px;

  /* slide in form below with a slightly black background */
  opacity: 0;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s ease, transform 0.5s ease;

  /* styling inside of the element */
  color: white;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  flex-direction: column;
}

.library-item-wrapper:hover .library-item-pop-over-wrapper {
  opacity: 1;
  transform: translateY(0);
}

.library-item-pop-over-game-title {
  text-align: center;
  font-size: 25px;
  margin-top: 12px;
  overflow: wrap;
}

.library-item-pop-over-play-and-stats {
  width: 100%;
}

.library-item-pop-over-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.library-item-pop-over-buttons > button {
  cursor: pointer;
  flex: 1 1 0;
}


.library-item-pop-over-stat-description {
  margin-bottom: 3px;
  
  font-size: 12px;
  color: var(--library-item-pop-over-stat-description-font-color)
}

.library-item-pop-over-stat{
  font-size: 14px;
  /* color: var(--library-item-pop-over-stat-description-font-color) */
  margin-bottom: 5px;
}

.library-item-pop-over-play {
  border-radius: 6px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;

  margin-left: 3px;
  
  background-color: orange;
}

.library-item-pop-over-external-link {
  border-radius: 6px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;

  margin-right: 3px;
  
  background-color: white;
}
