.topmenu {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation > a > button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
}

.navigation > a {
  padding: 5px;
  margin-right: 10px;
  border-radius: 8px;
}
.overview-button {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.active-link {
  background-color: yellow;
}

img {
  vertical-align: middle;
}

.misc-grouping {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.window-management-buttons {
  margin-left: 5px;
}

.window-management-buttons > a {
  margin-left: 15px;
}
.window-management-buttons > a > img {
  width: 16px;
}

.misc-links {
  display:flex;
  flex-direction: row;
}

.misc-links > a {
  margin-left: 4px;
  padding: 8px;
  display: flex;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.misc-links > a > img {
  width: 14px;
  height: 14px;
}
